/* Add your CSS styles here */ 
/* .color-red {
    color: red;
} */

#1thdiv {
    background-color: royalblue;
}

#2thdiv {
    background-color: rebeccapurple;
}

.bgyellow{
    background-color: yellow;
}